.container {
  margin-top: 100px;
}

.counter-box {
  display: block;
  /* background: #d3e7fa; */
  background-color: #191d3a;
  padding: 40px 20px 37px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #e84f84;
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #e84f84;
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #e84f84;
  line-height: 28px;
}

.counter-box:hover {
  background-color: #0f1019;
  color: #fff;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff;
}
